In [2]:
import pandas as  pd

In [13]:
train = pd.read_csv('/Users/iskriyanavasileva/git/minicomp-rossman/data/train.csv')

/Users/iskriyanavasileva/opt/anaconda3/envs/minicomp/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
!pwd

/Users/iskriyanavasileva/git/Minicomp_Team3

In [14]:
train

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0
...,...,...,...,...,...,...,...,...,...
637769,2014-07-31,752.0,4.0,7259.0,576.0,1.0,1.0,0,1.0
637770,2014-07-31,753.0,NaN,9938.0,796.0,1.0,1.0,0,1.0
637771,2014-07-31,754.0,4.0,10564.0,1162.0,1.0,1.0,0,NaN
637772,2014-07-31,755.0,4.0,12302.0,1020.0,1.0,1.0,0,1.0
637773,2014-07-31,751.0,4.0,3913.0,539.0,1.0,1.0,0,1.0

In [15]:
store = pd.read_csv('/Users/iskriyanavasileva/git/minicomp-rossman/data/store.csv')

In [16]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN