# Import Data

In [1]:
from functions import data_clean

In [2]:
data = data_clean()

In [3]:
data.head()

,Date,Store,DayOfWeek,Sales,Customers,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
19,2013-01-01,361.0,2.0,NaN,0.0,0.0,a,1.0,c,c,4490.0,5.0,2014.0,1.0,5.0,2013.0,"Feb,May,Aug,Nov"
27,2013-01-01,353.0,2.0,3139.0,820.0,0.0,a,1.0,b,b,900.0,1.0,2013.0,1.0,14.0,2013.0,"Feb,May,Aug,Nov"
28,2013-01-01,352.0,2.0,NaN,0.0,0.0,a,1.0,d,c,6360.0,1.0,2013.0,1.0,40.0,2012.0,"Mar,Jun,Sept,Dec"
62,2013-01-01,394.0,2.0,NaN,NaN,0.0,a,1.0,d,a,10850.0,1.0,2013.0,0.0,NaN,NaN,NaN
101,2013-01-01,287.0,2.0,NaN,0.0,0.0,a,1.0,c,a,2740.0,5.0,2009.0,1.0,40.0,2014.0,"Jan,Apr,Jul,Oct"

# Feature Engineering

In [4]:
from functions import feature_engineering

In [5]:
data_feat = feature_engineering(data)

In [6]:
data_feat.head()

,Date,Store,Sales,Customers,Promo,SchoolHoliday,CompetitionDistance,state_holiday,winter,spring,...,Assortment_c,competition_active,Promo2_active,dayofweek,quarter,month,year,dayofyear,dayofmonth,weekofyear
27,2013-01-01,353.0,3139.0,820.0,0.0,1.0,900.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
115,2013-01-01,335.0,2401.0,482.0,0.0,1.0,90.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
147,2013-01-01,512.0,2646.0,625.0,0.0,1.0,590.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
162,2013-01-01,494.0,3113.0,527.0,0.0,1.0,1260.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
199,2013-01-01,530.0,2907.0,532.0,0.0,1.0,18160.0,1.0,1.0,0.0,...,1,1.0,0.0,1,1,1,2013,1,1,1

# Prediction

In [7]:
from functions import split_x_y

In [8]:
X,y = split_x_y(data_feat, label='Sales')

In [11]:
X.head()

,Store,Customers,Promo,SchoolHoliday,CompetitionDistance,state_holiday,winter,spring,summer,fall,...,Assortment_c,competition_active,Promo2_active,dayofweek,quarter,month,year,dayofyear,dayofmonth,weekofyear
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,353.0,820.0,0.0,1.0,900.0,1.0,1.0,0.0,0.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,335.0,482.0,0.0,1.0,90.0,1.0,1.0,0.0,0.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,512.0,625.0,0.0,1.0,590.0,1.0,1.0,0.0,0.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,494.0,527.0,0.0,1.0,1260.0,1.0,1.0,0.0,0.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,530.0,532.0,0.0,1.0,18160.0,1.0,1.0,0.0,0.0,0.0,...,1,1.0,0.0,1,1,1,2013,1,1,1

### Features Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
from functions import scaler

In [32]:
X_scaled, _ = scaler(X, mode='train', scaler=StandardScaler())

In [33]:
X_scaled

array([[-0.63814916,  0.15320521, -0.85145163, ..., -1.55113364,
        -1.70512388, -1.53324432],
       [-0.69411498, -0.68943217, -0.85145163, ..., -1.55113364,
        -1.70512388, -1.53324432],
       [-0.14378441, -0.33293174, -0.85145163, ..., -1.55113364,
        -1.70512388, -1.53324432],
       ...,
       [ 0.60864496,  1.00581464,  1.17446484, ...,  0.58035156,
         1.74893705,  0.60155516],
       [ 0.61175417,  0.65180722,  1.17446484, ...,  0.58035156,
         1.74893705,  0.60155516],
       [ 0.59931732, -0.5473306 ,  1.17446484, ...,  0.58035156,
         1.74893705,  0.60155516]])

In [34]:
type(X_scaled)

numpy.ndarray

### Prediction

In [35]:
from functions import model_fitting, predict

In [37]:
model = model_fitting(X_scaled, y)

In [38]:
from joblib import dump, load

In [39]:
model = load('./fitted_model.joblib')
predict(X_scaled, y, model)

4.934040690327839