In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import functions as fun
plt.rcParams['figure.figsize'] = [20, 10]

store_df = pd.read_csv('data/store.csv')
train_df = pd.read_csv('data/train.csv')

/home/mat/anaconda3/envs/mini-comp/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
print(store_df.isnull().sum())
print(train_df.isnull().sum())

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64
Date                 0
Store            19301
DayOfWeek        19017
Sales            19027
Customers        19091
Open             19186
Promo            19194
StateHoliday     19254
SchoolHoliday    19337
dtype: int64

In [74]:
#
# CLEANING STORE DATA
#

# 1. Promo2SinceWeek, Promo2SinceYear, PromoInterval are only NaN when Promo2 is 0, so it's not a problem:
print(store_df.loc[(store_df['Promo2'] == 0) & 
                   ~pd.isna(store_df['Promo2SinceWeek']) & 
                   ~pd.isna(store_df['Promo2SinceYear']) & 
                   ~pd.isna(store_df['PromoInterval'])].empty)

# TODO: What do we do with NaNs from Competition Distance?
#    *: NaN values should be the mean or median of all competition distances
store_df.loc[pd.isna(store_df['CompetitionDistance'])].head()

# 2. The competition dates fill with our firs day of data:
store_df_clean = store_df.fillna({'CompetitionOpenSinceYear':2013.0})
store_df_clean = store_df_clean.fillna({'CompetitionOpenSinceMonth':1.0})

#store_df_clean.head(50)

True

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
290,291,d,a,NaN,NaN,NaN,0,NaN,NaN,NaN
621,622,a,c,NaN,NaN,NaN,0,NaN,NaN,NaN
878,879,d,a,NaN,NaN,NaN,1,5.0,2013.0,"Feb,May,Aug,Nov"

In [76]:
#
# MERGE TRAIN AND STORE DATA AND CLEAN
#

df = fun.merge_files(train_df, store_df_clean)
df.loc[df['Date'] == '2013-01-21'].head(50)

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
22299,2013-01-21,367.0,1.0,8161.0,693.0,1.0,1.0,0,0.0,d,c,2640.0,9.0,2012.0,0.0,NaN,NaN,NaN
22300,2013-01-21,368.0,1.0,11370.0,736.0,1.0,1.0,0,0.0,d,c,1450.0,4.0,2005.0,1.0,45.0,2009.0,"Feb,May,Aug,Nov"
22301,2013-01-21,369.0,1.0,5803.0,443.0,1.0,1.0,0,0.0,d,c,5870.0,4.0,2014.0,0.0,NaN,NaN,NaN
22302,2013-01-21,370.0,1.0,5107.0,411.0,1.0,1.0,0,0.0,d,a,8250.0,10.0,2000.0,1.0,31.0,2009.0,"Jan,Apr,Jul,Oct"
22303,2013-01-21,NaN,1.0,4294.0,479.0,1.0,1.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22304,2013-01-21,371.0,1.0,5634.0,431.0,1.0,1.0,0,0.0,d,c,1970.0,7.0,2009.0,1.0,45.0,2014.0,"Feb,May,Aug,Nov"
22305,2013-01-21,374.0,1.0,8794.0,951.0,1.0,1.0,0,0.0,a,a,1150.0,9.0,2007.0,0.0,NaN,NaN,NaN
22306,2013-01-21,373.0,1.0,4305.0,308.0,1.0,1.0,0,0.0,d,c,11120.0,1.0,2013.0,1.0,22.0,2012.0,"Jan,Apr,Jul,Oct"
22307,2013-01-21,375.0,NaN,11004.0,861.0,1.0,1.0,0,0.0,a,c,15710.0,2.0,2013.0,1.0,37.0,2009.0,"Jan,Apr,Jul,Oct"
22308,2013-01-21,376.0,1.0,11739.0,1230.0,1.0,1.0,0,0.0,a,a,160.0,8.0,2012.0,0.0,NaN,NaN,NaN
22309,2013-01-21,377.0,1.0,6832.0,900.0,1.0,1.0,0,0.0,a,c,100.0,6.0,2010.0,1.0,18.0,2010.0,"Feb,May,Aug,Nov"
22310,2013-01-21,378.0,1.0,4475.0,627.0,1.0,1.0,0,0.0,a,c,2140.0,8.0,2012.0,0.0,NaN,NaN,NaN
22311,2013-01-21,366.0,1.0,8333.0,750.0,1.0,1.0,0,0.0,d,c,6470.0,12.0,2004.0,0.0,NaN,NaN,NaN
22312,2013-01-21,372.0,1.0,9219.0,725.0,1.0,1.0,NaN,0.0,d,c,4880.0,8.0,2010.0,1.0,18.0,2014.0,"Jan,Apr,Jul,Oct"
22313,2013-01-21,NaN,1.0,5979.0,621.0,1.0,1.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22314,2013-01-21,358.0,1.0,12917.0,1247.0,1.0,1.0,0,0.0,a,a,2890.0,10.0,2003.0,0.0,NaN,NaN,NaN
22315,2013-01-21,363.0,1.0,8741.0,1016.0,1.0,1.0,0,0.0,a,a,250.0,9.0,2009.0,0.0,NaN,NaN,NaN
22316,2013-01-21,362.0,1.0,10305.0,863.0,1.0,1.0,0,0.0,c,c,340.0,1.0,2013.0,0.0,NaN,NaN,NaN
22317,2013-01-21,361.0,1.0,6150.0,595.0,1.0,1.0,0,0.0,c,c,4490.0,5.0,2014.0,1.0,5.0,2013.0,"Feb,May,Aug,Nov"
22318,2013-01-21,360.0,1.0,8655.0,866.0,1.0,1.0,0,0.0,a,a,2040.0,6.0,2007.0,0.0,NaN,NaN,NaN
22319,2013-01-21,NaN,1.0,6607.0,611.0,1.0,1.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22320,2013-01-21,357.0,1.0,11101.0,1252.0,1.0,1.0,0,0.0,a,a,2060.0,10.0,2008.0,0.0,NaN,NaN,NaN
22321,2013-01-21,356.0,1.0,4720.0,350.0,1.0,1.0,NaN,0.0,d,c,8970.0,12.0,2007.0,1.0,22.0,2012.0,"Feb,May,Aug,Nov"
22322,2013-01-21,355.0,1.0,11254.0,1285.0,1.0,1.0,0,0.0,a,c,9720.0,8.0,2013.0,0.0,NaN,NaN,NaN
22323,2013-01-21,354.0,1.0,7137.0,539.0,1.0,1.0,0,0.0,d,c,1500.0,10.0,2005.0,0.0,NaN,NaN,NaN
22324,2013-01-21,353.0,1.0,3322.0,1038.0,1.0,1.0,0,0.0,b,b,900.0,1.0,2013.0,1.0,14.0,2013.0,"Feb,May,Aug,Nov"
22325,2013-01-21,352.0,1.0,6797.0,616.0,1.0,1.0,0,0.0,d,c,6360.0,1.0,2013.0,1.0,40.0,2012.0,"Mar,Jun,Sept,Dec"
22326,2013-01-21,351.0,1.0,7455.0,607.0,1.0,1.0,NaN,0.0,a,a,5290.0,11.0,2012.0,1.0,5.0,2013.0,"Feb,May,Aug,Nov"
22327,2013-01-21,350.0,1.0,6192.0,400.0,1.0,1.0,0,0.0,d,a,8880.0,1.0,2013.0,1.0,14.0,2011.0,"Jan,Apr,Jul,Oct"
22328,2013-01-21,380.0,1.0,15065.0,1290.0,1.0,1.0,0,0.0,a,a,2240.0,5.0,2013.0,1.0,10.0,2014.0,"Mar,Jun,Sept,Dec"
22329,2013-01-21,364.0,1.0,2233.0,357.0,1.0,1.0,0,0.0,a,c,13620.0,1.0,2013.0,1.0,10.0,2014.0,"Mar,Jun,Sept,Dec"
22330,2013-01-21,381.0,1.0,11777.0,1212.0,1.0,1.0,0,0.0,a,a,1800.0,11.0,2006.0,1.0,5.0,2013.0,"Feb,May,Aug,Nov"
22331,2013-01-21,414.0,1.0,4665.0,361.0,1.0,1.0,0,0.0,d,c,6210.0,1.0,2013.0,1.0,1.0,2013.0,"Jan,Apr,Jul,Oct"
22332,2013-01-21,383.0,1.0,16311.0,2068.0,1.0,1.0,0,0.0,a,c,350.0,1.0,2013.0,0.0,NaN,NaN,NaN
22333,2013-01-21,349.0,1.0,0.0,0.0,0.0,1.0,0,0.0,c,c,1490.0,4.0,2009.0,0.0,NaN,NaN,NaN
22334,2013-01-21,413.0,1.0,8858.0,1087.0,1.0,1.0,0,0.0,a,c,760.0,9.0,2014.0,0.0,NaN,NaN,NaN
22335,2013-01-21,412.0,1.0,8195.0,542.0,1.0,1.0,0,0.0,d,c,4460.0,1.0,2013.0,1.0,39.0,2010.0,"Jan,Apr,Jul,Oct"
22336,2013-01-21,411.0,1.0,9135.0,657.0,NaN,1.0,0,0.0,d,c,8460.0,1.0,2013.0,0.0,NaN,NaN,NaN
22337,2013-01-21,410.0,1.0,8287.0,953.0,1.0,1.0,0,0.0,c,a,40.0,11.0,2011.0,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
22338,2013-01-21,409.0,1.0,4778.0,472.0,1.0,1.0,0,0.0,d,c,840.0,1.0,2013.0,1.0,1.0,2013.0,"Jan,Apr,Jul,Oct"
22339,2013-01-21,408.0,1.0,6578.0,585.0,1.0,1.0,0,0.0,c,a,1560.0,1.0,2013.0,1.0,45.0,2009.0,"Feb,May,Aug,Nov"
22340,2013-01-21,407.0,1.0,3838.0,277.0,1.0,1.0,0,0.0,a,a,5890.0,10.0,2003.0,1.0,14.0,2011.0,"Feb,May,Aug,Nov"
22341,2013-01-21,406.0,1.0,3944.0,330.0,1.0,1.0,0,0.0,d,c,8240.0,3.0,2001.0,1.0,10.0,2013.0,"Feb,May,Aug,Nov"
22342,2013-01-21,405.0,1.0,7479.0,686.0,1.0,1.0,0,0.0,a,a,1080.0,4.0,2008.0,1.0,14.0,2011.0,"Jan,Apr,Jul,Oct"
22343,2013-01-21,404.0,1.0,0.0,0.0,0.0,1.0,0,0.0,a,c,1420.0,1.0,2013.0,1.0,10.0,2013.0,"Mar,Jun,Sept,Dec"
22344,2013-01-21,403.0,1.0,9243.0,866.0,1.0,1.0,0,0.0,a,a,4970.0,7.0,2015.0,0.0,NaN,NaN,NaN
22345,2013-01-21,402.0,1.0,5384.0,490.0,1.0,1.0,0,0.0,c,c,5830.0,9.0,2011.0,1.0,13.0,2010.0,"Jan,Apr,Jul,Oct"
22346,2013-01-21,401.0,1.0,8530.0,780.0,1.0,1.0,0,0.0,a,c,9200.0,10.0,2009.0,1.0,14.0,2012.0,"Jan,Apr,Jul,Oct"
22347,2013-01-21,400.0,1.0,12499.0,1490.0,1.0,1.0,0,0.0,a,a,70.0,11.0,2004.0,1.0,14.0,2011.0,"Jan,Apr,Jul,Oct"
22348,2013-01-21,399.0,1.0,5325.0,536.0,1.0,1.0,0,0.0,a,a,5360.0,9.0,2012.0,1.0,40.0,2011.0,"Jan,Apr,Jul,Oct"

In [87]:
print(df.isnull().sum())

Date                              0
Store                         19301
DayOfWeek                         0
Sales                         19027
Customers                     19091
Open                          19186
Promo                         19194
StateHoliday                      0
SchoolHoliday                     0
StoreType                     19301
Assortment                    19301
CompetitionDistance           20936
CompetitionOpenSinceMonth     19301
CompetitionOpenSinceYear      19301
Promo2                        19301
Promo2SinceWeek              322946
Promo2SinceYear              322946
PromoInterval                322946
dtype: int64

In [77]:
# Convert Date column to DateTime
df2 = df
df2['Date'] = pd.to_datetime(df2['Date'])
df2.head(50)

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,1.0,2013.0,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,a,6630.0,1.0,2013.0,0.0,NaN,NaN,NaN
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,2140.0,8.0,2012.0,0.0,NaN,NaN,NaN
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,100.0,6.0,2010.0,1.0,18.0,2010.0,"Feb,May,Aug,Nov"
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,160.0,8.0,2012.0,0.0,NaN,NaN,NaN
5,2013-01-01,375.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,15710.0,2.0,2013.0,1.0,37.0,2009.0,"Jan,Apr,Jul,Oct"
6,2013-01-01,374.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,1150.0,9.0,2007.0,0.0,NaN,NaN,NaN
7,2013-01-01,373.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,11120.0,1.0,2013.0,1.0,22.0,2012.0,"Jan,Apr,Jul,Oct"
8,2013-01-01,372.0,2.0,0.0,0.0,0.0,NaN,a,1.0,d,c,4880.0,8.0,2010.0,1.0,18.0,2014.0,"Jan,Apr,Jul,Oct"
9,2013-01-01,371.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,1970.0,7.0,2009.0,1.0,45.0,2014.0,"Feb,May,Aug,Nov"
10,2013-01-01,370.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,a,8250.0,10.0,2000.0,1.0,31.0,2009.0,"Jan,Apr,Jul,Oct"
11,2013-01-01,369.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5870.0,4.0,2014.0,0.0,NaN,NaN,NaN
12,2013-01-01,368.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,1450.0,4.0,2005.0,1.0,45.0,2009.0,"Feb,May,Aug,Nov"
13,2013-01-01,367.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,2640.0,9.0,2012.0,0.0,NaN,NaN,NaN
14,2013-01-01,366.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,6470.0,12.0,2004.0,0.0,NaN,NaN,NaN
15,2013-01-01,380.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,2240.0,5.0,2013.0,1.0,10.0,2014.0,"Mar,Jun,Sept,Dec"
16,2013-01-01,365.0,2.0,0.0,0.0,0.0,0.0,a,1.0,c,a,2410.0,1.0,2013.0,1.0,45.0,2009.0,"Feb,May,Aug,Nov"
17,2013-01-01,363.0,2.0,0.0,NaN,0.0,0.0,a,1.0,a,a,250.0,9.0,2009.0,0.0,NaN,NaN,NaN
18,2013-01-01,362.0,2.0,0.0,0.0,0.0,0.0,a,1.0,c,c,340.0,1.0,2013.0,0.0,NaN,NaN,NaN
19,2013-01-01,361.0,2.0,NaN,0.0,0.0,0.0,a,1.0,c,c,4490.0,5.0,2014.0,1.0,5.0,2013.0,"Feb,May,Aug,Nov"
20,2013-01-01,360.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,2040.0,6.0,2007.0,0.0,NaN,NaN,NaN
21,2013-01-01,359.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,4370.0,1.0,2013.0,0.0,NaN,NaN,NaN
22,2013-01-01,358.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,2890.0,10.0,2003.0,0.0,NaN,NaN,NaN
23,2013-01-01,357.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,2060.0,10.0,2008.0,0.0,NaN,NaN,NaN
24,2013-01-01,356.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,8970.0,12.0,2007.0,1.0,22.0,2012.0,"Feb,May,Aug,Nov"
25,2013-01-01,355.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,9720.0,8.0,2013.0,0.0,NaN,NaN,NaN
26,2013-01-01,354.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,1500.0,10.0,2005.0,0.0,NaN,NaN,NaN
27,2013-01-01,353.0,2.0,3139.0,820.0,1.0,0.0,a,1.0,b,b,900.0,1.0,2013.0,1.0,14.0,2013.0,"Feb,May,Aug,Nov"
28,2013-01-01,352.0,2.0,NaN,0.0,0.0,0.0,a,1.0,d,c,6360.0,1.0,2013.0,1.0,40.0,2012.0,"Mar,Jun,Sept,Dec"
29,2013-01-01,351.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,5290.0,11.0,2012.0,1.0,5.0,2013.0,"Feb,May,Aug,Nov"
30,2013-01-01,350.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,a,8880.0,1.0,2013.0,1.0,14.0,2011.0,"Jan,Apr,Jul,Oct"
31,2013-01-01,364.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,13620.0,1.0,2013.0,1.0,10.0,2014.0,"Mar,Jun,Sept,Dec"
32,2013-01-01,381.0,2.0,0.0,0.0,0.0,NaN,a,1.0,a,a,1800.0,11.0,2006.0,1.0,5.0,2013.0,"Feb,May,Aug,Nov"
33,2013-01-01,382.0,2.0,0.0,0.0,0.0,0.0,a,1.0,c,c,26130.0,11.0,2002.0,0.0,NaN,NaN,NaN
34,2013-01-01,383.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,350.0,1.0,2013.0,0.0,NaN,NaN,NaN
35,2013-01-01,414.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,6210.0,1.0,2013.0,1.0,1.0,2013.0,"Jan,Apr,Jul,Oct"
36,2013-01-01,413.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,760.0,9.0,2014.0,0.0,NaN,NaN,NaN
37,2013-01-01,412.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,4460.0,1.0,2013.0,1.0,39.0,2010.0,"Jan,Apr,Jul,Oct"
38,2013-01-01,411.0,NaN,0.0,0.0,0.0,0.0,a,1.0,d,c,8460.0,1.0,2013.0,0.0,NaN,NaN,NaN
39,2013-01-01,410.0,2.0,0.0,0.0,0.0,0.0,a,1.0,c,a,40.0,11.0,2011.0,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
40,2013-01-01,409.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,840.0,1.0,2013.0,1.0,1.0,2013.0,"Jan,Apr,Jul,Oct"
41,2013-01-01,408.0,2.0,0.0,0.0,0.0,0.0,a,1.0,c,a,1560.0,1.0,2013.0,1.0,45.0,2009.0,"Feb,May,Aug,Nov"
42,2013-01-01,407.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,5890.0,10.0,2003.0,1.0,14.0,2011.0,"Feb,May,Aug,Nov"
43,2013-01-01,406.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,8240.0,3.0,2001.0,1.0,10.0,2013.0,"Feb,May,Aug,Nov"
44,2013-01-01,405.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,1080.0,4.0,2008.0,1.0,14.0,2011.0,"Jan,Apr,Jul,Oct"
45,2013-01-01,404.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,1420.0,1.0,2013.0,1.0,10.0,2013.0,"Mar,Jun,Sept,Dec"
46,2013-01-01,403.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,4970.0,7.0,2015.0,0.0,NaN,NaN,NaN
47,2013-01-01,402.0,2.0,0.0,0.0,0.0,0.0,a,1.0,c,c,5830.0,9.0,2011.0,1.0,13.0,2010.0,"Jan,Apr,Jul,Oct"
48,2013-01-01,401.0,2.0,0.0,0.0,0.0,0.0,NaN,1.0,a,c,9200.0,10.0,2009.0,1.0,14.0,2012.0,"Jan,Apr,Jul,Oct"
49,2013-01-01,400.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,70.0,11.0,2004.0,1.0,14.0,2011.0,"Jan,Apr,Jul,Oct"

In [78]:
# Set NaN values on 'DayOfWeek', 'StateHoliday' and 'SchoolHoliday' to the mode of the same day (most common value of all stores)

ids = pd.isnull(df2['DayOfWeek'])
df3 = df2
for i in range(df3.shape[0]):
    if pd.isna(df3['DayOfWeek'].iloc[i]):
        date = df3['Date'].iloc[i]
        mode = df3['DayOfWeek'].loc[df3['Date'] == date].mode()
        df3['DayOfWeek'].iloc[i] = mode[0]
    if pd.isna(df3['StateHoliday'].iloc[i]):
        date = df3['Date'].iloc[i]
        mode = df3['StateHoliday'].loc[df3['Date'] == date].mode()
        df3['StateHoliday'].iloc[i] = mode[0]
    if pd.isna(df3['SchoolHoliday'].iloc[i]):
        date = df3['Date'].iloc[i]
        mode = df3['SchoolHoliday'].loc[df3['Date'] == date].mode()
        df3['SchoolHoliday'].iloc[i] = mode[0]
    
#df3.head(50)

/home/mat/anaconda3/envs/mini-comp/lib/python3.6/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [79]:
# Save
df3.to_pickle('data/clean_data.pkl')

In [80]:
# Load to check that it's fine and print data for a single store
df4 = pd.read_pickle('data/clean_data.pkl')
#df4.loc[df['Store'] == 330].head(50)

In [82]:
# Check if there are days with customers but no sales, and vice-versa.
print(df4.loc[(df4['Customers'] == 0) & ~(df4['Sales'] == 0) & ~pd.isna(df4['Sales'])].empty)
df4.loc[(df4['Sales'] == 0) & ~(df4['Customers'] == 0) & ~pd.isna(df4['Customers'])].head()

# There are some sales with no customer, but we found out this isn't a problem because we will delete rows without sales

True

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
127723,2013-04-25,NaN,4.0,0.0,5.0,1.0,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539292,2014-04-29,1100.0,2.0,0.0,3.0,1.0,NaN,0,0.0,a,a,540.0,1.0,2013.0,1.0,14.0,2011.0,"Jan,Apr,Jul,Oct"

In [83]:
# TODO: 'Promo' with NaN happens pretty often
#    *: NaN in Promo goes as 0
df4.loc[(df4['Sales'] != 0) & pd.isna(df4['Promo'])].shape[0]

15939

In [84]:
# Remove all rows with Sales = 0 (don't matter for the model efficiency):
df5 = df4.drop(df4["Sales"].loc[df4["Sales"]==0].index)

#df5.head(50)

In [85]:
df5.isnull().sum()

Date                              0
Store                         16162
DayOfWeek                         0
Sales                         19027
Customers                     16023
Open                          16019
Promo                         15939
StateHoliday                      0
SchoolHoliday                     0
StoreType                     16162
Assortment                    16162
CompetitionDistance           17523
CompetitionOpenSinceMonth     16162
CompetitionOpenSinceYear      16162
Promo2                        16162
Promo2SinceWeek              270276
Promo2SinceYear              270276
PromoInterval                270276
dtype: int64

In [ ]:
# TODO: Write NaN values of 'Sales' as the average of the same week day of the month before the data point